extends layout

block content
  div(class='card')
    div(class='card-content' id='about')
      h5 About
      p Maarfapad allows users to host portable, personal wiki files online on a private account, allowing access at anytime, anywhere via the browser. Maarfapad gives users the ability to manage multiple wikis that can be customised depending on individual user needs.
      br
      p Maarfapad is currently in private testing phase. If you're a tester and have any queries, please write to info@maarfapad.xyz
      br
      a(href='http://tiddlywiki.com') TiddlyWiki is used to power this project.
      br
      br
      p Fun fact: Maarfapad is derived from the Swahili word for knowledge ('maarifa') and the suffix 'pad' as in notepad or platform.
      p So 'Maarfapad' literally means 'knowledge platform'.
  a(class='waves-effect waves-black btn-flat' href='/') Back home