extends layout

block content
  div(class='section')
    h3(class='header grey-text' id='headers') Organise & Do More With Your Knowledge
    h5(class='header' id='sub-headers') Maarfapad is a lean & flexible web  
                                       | app for personal 
                                       | knowledge management
    br
    a(class='btn-large waves-effect waves-light teal' href='/signup') Get Started!
    p
    a(href='/login') Login to your account
  div(class='divider')
  div(class='section')
    h5(class='header') What can you do?
    div(class='row')
      div(class='col s12 m3 l3')
        div(class='icon-block')
          h2(class='center')
            i(class='material-icons') event_note
          h5(class='center') Note anything
          p(class='light') Create a whole library different notebooks to capture 
                          | different topics and save different media while researching online,
                          | planning a project or just keeping a journal of your life.
      div(class='col s12 m3 l3')
        div(class='icon-block')
          h2(class='center')
            i(class='material-icons') settings
          h5(class='center') Extend it
          p(class='light') Add new functionalities with plugins, 
                          | macros and widgets. Use public APIs 
                          | to add even more novel functionalities. 
                          | Your notebooks are your 
                          | personal data canvas
      div(class='col s12 m3 l3')
        div(class='icon-block')
          h2(class='center') 
            i(class='material-icons') import_export
          h5(class='center') Reuse data
          p(class='light') Import and export data.
                         | Link to external files 
                         | or store them directly in your notebooks. 
                         | Turn your entire notebook into 
                         | a personal website with any static file hosting service
      div(class='col s12 m3 l3')
        div(class='icon-block')
          h2(class='center')
            i(class='material-icons') signal_wifi_off
          h5(class='center') Works Offline
          p(class='light') Use Maarfapad online and  
                         | offline. Save your notebooks to Maarfapad, 
                         | or save to your local machine for complete offline use.
                         | You can also upload notebooks back into the cloud!
  div(class='divider')
  div(class='section')
    fig
      img(class='responsive-img' src='/images/demo.png' alt='Maarfapad demo')
      figcaption A Notebook hosted at Maarfapad
    br
    a(class='btn waves-effect waves-light black' href='https://cdn.rawgit.com/abesamma/TW5-editions/78846468/empty.html' target='_blank') Explore demo
