extends layout

block content
  div(class='card')
    div(class='card-content')
      h4 Welcome to Maarfapad
      p Maarfapad is a web service that allows you to curate and manage your knowledge wherever you are via the excellent open source Tiddly Wiki HTML5 app.
      h5 Login or sign up for an account
    div(class='card-action')
      a(class='waves-effect waves-black btn-flat' href='/signup')
        span(class='black-text') Signup
      |  &nbsp  
      a(class='waves-effect waves-black btn-flat' href='/login') 
        span(class='black-text') Login
  a(class='waves-effect waves-light btn-large' href='https://docs.google.com/forms/d/e/1FAIpQLSdzfG3qH-VlFiOhKu4J_RKeZ--GIND7sLiHMzyp_nIAV_DbNw/viewform?usp=sf_link') Help Shape Maarfapad
    i(class='material-icons left') feedback
