doctype html
html
  head
    title= 'Maarfapad'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Comfortaa')
    link(rel='icon', href='favicon.ico')
  body
  div(class='content')
    block content
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/materialize.min.js')
