doctype html
html
  head
    title= 'Maarfapad'
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="google-site-verification" content="3ph84G-yjDz22JRVGOnucwVAzRyFma_yJhJGQeIipKc")
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Comfortaa')
    link(rel='icon' href='/favicon.ico')
  body
  div(class='navbar-fixed')
    nav
      div(class='nav-wrapper black')
        div(class='container')
          a(href='/' class='brand-logo')
            span(style='font-family: Comfortaa') μ|aarfapad
          a(href='#' data-target='mobile' class='sidenav-trigger')
            i(class='material-icons') menu
          ul(class='right hide-on-med-and-down')
            li
              a(href='/signup') Sign up
            li
              a(href='/login') Login
            li
              a(href='/about') About
  ul(class='sidenav' id='mobile')
    li
      a(href='/signup') Sign up
    li
      a(href='/login') Login
    li
      a(href='/about') About
    li
      div(class='divider')
    li 
      a(href='/') @Twitter
    li 
      a(href='/') @Facebook
    li 
      a(href='/') Company Blog
    li
      div(class='divider')
    li
      a(href='https://www.linkedin.com/in/abraham-samma-094047153/') © Abraham Samma, 2018
  div(class='content')
    block content
  footer(class='page-footer black')
    div(class='container')
      div(class='row')
        div(class='col l6 s12')
          h5(class='white-text') Company Bio
          | We are a team of college students working on this project like 
          | it's our full time job. Any amount would help support  
          | and continue development on this project 
          | and is greatly appreciated.
        div(class='col l3 s12')
          h5(class='white-text') Links
          ul
            li Link1
            li Link2
            li Link3
            li Link4
        div(class='col l3 s12')
          h5(class='white-text') Connect
          ul
            li @Twitter
            li @Facebook
            li @Instagram
            li Company Blog
      div(class='footer-copyright')
        li © 
          a(href='https://www.linkedin.com/in/abraham-samma-094047153/') Abraham Samma, 2018
  script(src='https://code.jquery.com/jquery-2.1.1.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js')
  script(type='text/javascript' src='/javascripts/index.js')
  script(src='//static.getclicky.com/js' type='text/javascript')
  script(type='text/javascript') try{ clicky.init(101080038); }catch(e){}
  
