doctype html
html
  head
    title= 'Maarfapad'
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="google-site-verification" content="3ph84G-yjDz22JRVGOnucwVAzRyFma_yJhJGQeIipKc")
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Comfortaa')
    link(rel='icon' href='/favicon.ico')
  body
  div(class='navbar-fixed')
    nav
      div(class='nav-wrapper black')
        a(href='/about' class='brand-logo')
          span(style='font-family: Comfortaa') μaarfapad
        ul(id='nav-mobile' class='right hide-on-med-and-down')
          li
            a(href='/signup') Sign up
          li
            a(href='/login') Login
          li
            a(href='/about') About
  div(class='content')
    block content
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
  script(src='//static.getclicky.com/js' type='text/javascript')
  script(type='text/javascript') try{ clicky.init(101080038); }catch(e){}
  
