extends layout

block content
  div(class='card')
    div(class='card-content')
      h4 4😦4
      p If you're seeing this then you're either offline 
      p or whatever you're looking for does not exist anymore.
      br
      p Please check your connection and try again, 
      p or check the correctness of the web address.
      br
  a(href='/' class='waves-effect waves-black btn-flat') Home