body {
  font: 14px;
  font-family: "Helvetica";
  background-color: #ffffff;
}

@media screen and (max-width: 700px) {
  h3#headers {
    font-size: 30px;
  }
  h5#sub-headers {
    font-size: 20px;
  }
}

#headers {
  font-family: "Comfortaa"
}

.icon-block .material-icons {
  font-size: inherit;
}

a#demo-btn {
  position: relative;
  margin: 15%;
}

p.light {
  text-align: left;
}

li.collection-item {
  text-align: left;
}

.content {
  margin: auto;
  width: 65%;
  text-align: center;
}

p#flash {
  color: red;
}

div#about {
  text-align: left;
}